.place {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  &__section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4%;
    &__photoContainer {
      width: 480px;
      height: 360px;
    }
    &__infoContainer {
      &__title {
        font-size: 36px;
        font-weight: bold;
        margin: 0px;
      }
      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__label {
          font-size: 18px;
          margin-bottom: 5px;
          &__text {
            font-weight: bold;
          }
        }
      }
    }
  }
  &__section2 {
    margin-top: 20px;
    width: calc(90% - 10px);
    &__title {
      font-size: 36px;
      font-weight: bold;
      margin: 50px 0px 5px 0px;
      padding-top: 20px;
      border-top: 1px solid black;
    }
    &__container {
      display: flex;
      column-gap: 5%;
      align-items: center;
      &__item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        &--green {
          width: 30px;
          height: 15px;
          background-color: #00d23b;
        }
        &--orange {
          width: 30px;
          height: 15px;
          background-color: #ff7919;
        }
        &--red {
          width: 30px;
          height: 15px;
          background-color: #ff0000;
        }
      }
    }
    &__capacity {
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 20px;
      margin: 15px 0px;
      border-radius: 10px;
      width: fit-content;
    }
    &__note {
      font-style: italic;
      font-size: 17px;
    }
    &__text {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__containerComments {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;
    }
  }
}
