.register {
  background: radial-gradient(50% 50% at 50% 50%, #00dbff 0%, #20b7ef 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 60px;
    width: 700px;
    height: calc(100% - 50px);
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    &__title {
      text-align: center;
    }
    &__text {
      font-size: 1.5rem;
      text-align: center;
    }
    &__button {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }
    .register-form {
      &-formItem {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px 0px 10px 0px;
        &-button {
          background-color: #9f2dc7;
          border-color: #9f2dc7;
          border-radius: 10px;
          font-size: 18px;
          font-weight: bold;
          width: 200px;
          height: 40px;
        }
        &-button:hover,
        &-button:active,
        &-button:focus {
          background-color: #b36dcc;
          border-color: #b36dcc;
        }
      }
    }
    &__containerLink {
      display: flex;
      justify-content: center;
      &__link {
        color: #5f6fca;
        font-weight: bold;
        text-align: center;
      }
      &__link:hover {
        cursor: pointer;
        color: #273fca;
      }
    }

    &__google {
      display: flex;
      justify-content: center;
    }
    &__logoContainer {
      display: flex;
      justify-content: center;
      padding: 30px 0px;
      &__logo {
        width: 250px;
      }
      &__logo:hover {
        cursor: pointer;
      }
    }
  }
  &__container::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &__container::-webkit-scrollbar:vertical {
    width: 6px;
    height: 80%;
  }

  &__container::-webkit-scrollbar-button:increment,
  &__container::-webkit-scrollbar-button {
    display: none;
  }

  &__container::-webkit-scrollbar:horizontal {
    height: 6px;
  }

  &__container::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
  }

  &__container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
