.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #20b7ef;
  height: auto;
  border-radius: 30px;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  height: auto;
  width: auto;
  align-self: center;
  margin-bottom: 20px;
  padding: 12px 40px;
  &__form {
    display: flex;
    &__label {
      font-size: 16px;
      color: white;
      font-weight: bold;
      margin-right: 10px;
    }
    &__input {
      width: 200px;
      //   border: 0;
      outline: none;
      padding-right: 18px;
    }
    &__button {
      border: none;
      background: rgba($color: #000000, $alpha: 0);
      margin-left: -21px;
    }
    &__button2 {
      border: none;
      background: rgba($color: #000000, $alpha: 0);
      margin-left: -33px;
    }
  }
}

.search2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.notFound {
  height: 387px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    height: 90%;
  }
  &__text {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 1300px) {
  .search {
    &__form {
      &__label {
        display: none;
      }
      &__input {
      }
      &__button {
      }
      &__button2 {
      }
    }
  }
}
