.boxModal {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    background-color: rgb(243, 243, 243);
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icon {
        font-size: 30px;
      }
      &__text {
        margin-top: 8px;
        font-size: 20px;
      }
    }
  }
  &__button:hover {
    background-color: rgb(230, 230, 230);
  }
  &__button:active {
    background-color: rgb(196, 196, 196);
  }
  &__body {
    padding: 20px;
    &__title {
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
    }
    &__buttonContainer {
      display: flex;
      justify-content: flex-end;
      column-gap: 30px;
      margin-top: 20px;
    }
  }
}
